:root {
  --bg: "https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/image-from-rawpixel-id-2210775-jpeg.jpg";
  --form-bg: #f8f4e5;
  --form-shadow: #ffa580;
  --form-primary-highlight: #95a4ff;
  --form-secondary-highlight: #ffc8ff;
  --font-size: 14pt;
  --font-face: "Fjalla One";
  --font-color: #2a293e;
  --colour-3: #01031d;
}

body {
  margin: 0;
  background: var(--form-bg);
}

.navbar {
  position: sticky;
  top: 0;
  background-color: var(--colour-3);
  height: 10vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.linksList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 4vw;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font: white;
  letter-spacing: 3px;
  text-decoration: inherit;
}

.navLink {
  padding: 10px 20px;
  transition: 0.2s all ease-in-out;
  outline: none;
  color: white;
  text-decoration: inherit;
}

.rsvpButton {
  background: var(--form-shadow);
  transition: 0.2s all ease-in-out;
  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: 3px 3px 1px var(--form-primary-highlight),
    3px 3px 1px 1px rgba(0, 0, 0, 1);
  color: inherit;
  text-decoration: inherit;
}

.content {
  font-size: 4vw;
  width: 80%;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}

.headline-photo {
  width: 100%;
  height: auto;
  margin: 0;
}

.form {
  display: inline-block;
  margin: 50px 100px;
  width: 50vw;
  background: var(--form-bg);
  padding: 50px 100px;
  border: 2px solid rgba(0, 0, 0, 1);
  box-shadow: 15px 15px 1px var(--form-shadow),
    15px 15px 1px 2px rgba(0, 0, 0, 1);
  text-align: left;
}

input {
  display: block;
  font-size: 14;
  font-family: "Fjalla One";
  border: none;
  border-bottom: 5px solid rgba(0, 0, 0, 1);
  background: #f8f4e5;
  min-width: 250px;
  outline: none;
  color: rgba(0, 0, 0, 1);
}

.guestSection {
  display: flex;
  flex-direction: row;
}

.namersvp {
  flex-direction: row;
}

.input:focus {
  border-bottom: 5px solid var(--form-shadow);
}

button {
  display: block;
  margin: 50px auto;
  line-height: var(--font-size) * 2;
  padding: 10px 20px;
  background: var(--form-shadow);
  letter-spacing: 2px;
  transition: 0.2s all ease-in-out;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: 3px 3px 1px var(--form-primary-highlight),
    3px 3px 1px 1px rgba(0, 0, 0, 1);
}
button:hover {
  background: rgba(0, 0, 0, 1);
  color: white;
  border: 1px solid rgba(0, 0, 0, 1);
}

button::selection {
  background: var(--form-secondary-highlight);
}

/* input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
  border-bottom: 5px solid var(--form-primary-highlight)
  -webkit-text-fill-color: var(--font-color)
  -webkit-box-shadow: 0 0 0px 1000px var(--form-bg) inset
  transition: background-color 5000s ease-in-out 0s
   */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
